body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.artboard {
    width: 960px;
    height: 540px;
    background-color: #808080;
    overflow: hidden;
}

.cover {
    width: 1920px;
    height: 1080px;
    background-color: gray;
    display: flex;
    font-size: 104px;
    font-family: 'Source Sans Pro';
    font-weight: bold;
    color: #fff;
    transform: scale(0.5);
    transform-origin: 0 0;
    background: url('video-cover.png') no-repeat right center;

}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
    padding-right: 0;
    position: relative;
    width: 40%;
}

#subject {
    font-size: 60px;
    opacity: .5;
    position: absolute;
    bottom: 60px;
    left: 60px
}

input[type="text"] {
    height: 42px;
    margin-bottom: 8px;
    padding: 8px;
    box-sizing: border-box;
    width: 300px;
    display: block;
    border-radius: 4px;
    border: 2px solid #ddd;
    font-size: 16px;
    transition: border .3s;
}

input[type="text"]:focus {
    outline: none;
    border: 2px solid #be1313;
    font-size: 16px;
}

button {
    height: 42px;
    width: 300px;
    display: block;
    background-color: #be1313;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    border: none;
    font-size: 16px;
    -webkit-appearance: none;
    margin-bottom: 8px;
}

button:focus {
    outline: none;
}